<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Name           : <a href="https://www.linkedin.com/in/tang-sophearin-520b7393/">Tang Sophearin</a><br><br>
  Affiliation    : Department of Intelligence Science and Technology, <a href="https://www.ii.ist.i.kyoto-u.ac.jp/?lang=en">Nishida Laboratory</a>.<br><br>
  Student ID     : 6930-30-3963

</p>