<% if logged_in? %>
  <div class="row">

    <div class="column left">
      <h1>Soon Due / Due Assignments</h1>
      <div id="upcoming_dued">

      </div>
    </div>

    <div class="column right">
      <h1>Stats</h1>
      <div id="stats">

      </div>
    </div>




  </div>



  <script>
      $(document).ready(function () {
          //setInterval(refreshPartial, 100)
          refreshUpcomingDued()
          refreshStats()
      });

      // calls action refreshing the partial
      function refreshUpcomingDued() {
          $.ajax({
              url: "check_upcoming_dued_assignment"
          })
      }

      function refreshStats() {
          $.ajax({
              url: "check_stats"
          })
      }
  </script>

<% else %>
  <div class="center jumbotron">
    <h1>Welcome AMS</h1>
    <br><br><br>
    <%= button_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
