<% if @upcomming_dued_assignment %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Due Date</th>
      </tr>
    </thead>
    <% @upcomming_dued_assignment.each do |assignment| %>
    <tbody>
      <tr id='<%= assignment.id %>'>
        <td><%= link_to assignment.title, edit_assignment_path(assignment)%></td>
        <td><%= assignment.due_date %></td>
      </tr>
    </tbody>
    <% end %>

  </table>
<% end%>