<div class="list-group" , id="upcoming_dued">
<%= link_to 'test', check_upcoming_dued_assignment_path, :remote => true, class: "list-group-item" %>
<%#= link_to "test_item", check_upcoming_dued_assignment, :remote => true, class: "list-group-item" %>
</div>